@font-face {
    font-family: GoshaSans-Regular;
    src: url("../recursos/fuentes/GoshaSans-Regular.otf");
}
.clientes 
{
    align-items: flex-start;
    transition:background-color 500ms ease-in-out ;
}
.cont-clientes
{
    width: 100%;
    margin-top: 10vh;
}
.clientes_imagenes
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.clientes_imagenes li
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    opacity: 0; 
    transition: opacity 1s ease-in-out;
    margin: 2vh 0;
}
.clientes_imagenes li.show {
    opacity: 1;
  }
.clientes_imagenes li img
{
    width: 100%;
}
/*textos*/
.clientes_texto
{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}
.clientes_texto h2 {
    font-family: SCHABO;
    font-weight: lighter;
    font-size: 7vh;
    margin: 10px 0;
    transition: color 500ms ease-in-out;
}
.clientes_texto p {
    font-size: 3vh;
    font-family: GoshaSans-Regular;
    margin: 10px 0;
    transition: color 500ms ease-in-out;
}
.clientes_texto legend {
    font-size: 2vh;
    font-family: GoshaSans-Regular;
    margin: 10px 0;
    align-self: center;
    transition: color 500ms ease-in-out;
}