.menuItemsDark
{
    color: white;
}
.svgdark
{
    background-color: #fff;
}
.cuerpoNegro
{
    background-color: rgb(66, 66, 66);
}
.menuItemsSlider
{
    color: #fff;
}
.svgsDark
{
    background-color: #fff;
}