.menuItemsDark
{
    color: white;
}
.svgdark
{
    background-color: #fff;
}
.cuerpoNegro
{
    background-color: rgb(66, 66, 66);
}
.menuItemsSlider
{
    color: #fff;
}
.svgsDark
{
    background-color: #fff;
}
.absoluto1Oscuro
{
    background-color: rgb(66, 66, 66);
}
.absoluto2black
{
    background: linear-gradient(75deg,rgb(66, 66, 66) 60%, transparent 0%);

}
.texto_obrasColor
{
    background-color: rgb(66, 66, 66);
}
.tarjetaDark
{
    background-color: #fefefe;
}