.button-menu
{
    width: 9vh;
    height: 9vh;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    display: none;
}
.line
{
    width: 80%;
    height: 10%;
    background-color: #fff;
    transition: 0.4s;
}
.change .luno
{
    transform: translate(0, 310%) rotate(-45deg);
}
.change .ldos {opacity: 0;}
.change .ltres 
{
    transform: translate(0, -350%) rotate(45deg);
}
.button-menu:hover .line
{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}
.sliderMenu
{
    position: absolute;
    top: 10vh;
    left: 0;
    width: 250px;
    height: 90vh;
    background: linear-gradient(0deg,#007414,#089803) ;
    opacity: 50%;
    transition: left 500ms ease-in-out;
    display: none;
    justify-content: center;
    align-items: flex-start;
}
.sliderMenu-d
{
    width: 80%;
    height: 60%;
}
.sliderMenu-d svg
{
    position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fefefe;
  transform-origin: center bottom;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.menu_itemS
{
    font-family: SCHABO;
    font-size: 4vh;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    transition: transform 500ms ease-in-out;
    cursor: pointer;
}
.menu_itemS:hover svg
{
    transform: scaleX(1);
}